* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: #f7f7f7
    url(https://css-tricks.com/examples/RoundButtons/images/bg.png) repeat
    center top;
}
